.mini-palette {
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.mini-palette-colors {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.mini-palette-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: bold;
  color: #222;
}

.mini-palette-emoji {
  margin: 0 1px;
  font-size: 25px;
}
