.palette-list {
  background-color: blue;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.palette-list-container {
  width: 50%;
  display: flex;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
}

.palette-list-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: white;
}

.palette-list-nav a {
  color: white;
}

.palettes-list {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 5%;
}
